---
import Sep from "./Sep.astro";
---

<h1 class="font-varela text-4xl font-bold xl:text-5xl">מה קורה בסדנה?</h1>
<div
	class="my-10 mx-auto flex w-full justify-around text-center font-medium flex-col lg:flex-row xl:text-2xl px-0 md:px-32 gap-12"
>
	<div class="px-12 flex flex-col items-center justify-center">
		<i
			class="transition-all hover:scale-110 select-none fa-solid fa-brain text-5xl text-gray-800"
		></i>
		<h1 class="xl:text-3xl text-2xl">חשיבות החוסן המנטאלי</h1>
	</div>
	<div class="px-12 flex flex-col items-center justify-center">
		<i
			class="transition-all hover:scale-110 select-none fa-solid fa-comments text-5xl text-gray-800"
		></i>
		<h1 class="xl:text-3xl text-2xl">ניתוח שחקני ליגה בלייב</h1>
	</div>
	<div class="px-12 flex flex-col items-center justify-center">
		<i
			class="transition-all hover:scale-110 select-none fa-solid fa-toolbox text-5xl text-gray-800"
		></i>
		<h1 class="xl:text-3xl text-2xl">ארגז כלים פרקטי</h1>
	</div>
	<div class="px-12 flex flex-col items-center justify-center">
		<i
			class="transition-all hover:scale-110 select-none fa-solid fa-flag-checkered text-5xl text-gray-800"
		></i>
		<h1 class="xl:text-3xl text-2xl">הדרך לפסגה, מדיבורים למעשים</h1>
	</div>
	<div class="px-12 flex flex-col items-center justify-center">
		<i
			class="transition-all hover:scale-110 select-none fa-solid fa-repeat text-5xl text-gray-800"
		></i>
		<h1 class="xl:text-3xl text-2xl">תרגיל משנה תודעה!</h1>
	</div>
</div>
